@@include('../blocks/header.html')
<!-- Mobile Menu end -->
<div class="breadcome-area mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="fas fa-list"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <br>
                                    <h2>Lista de Eventos</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div id="platform-list"></div>
            <!-- Lo que mandes a mostrar en JS deberias de integrarlo al layout que hice de listado de plataformas aca. -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Eventos</h4>
                    <div class="add-product">
                        <a href "#" class=" change-name" id="change-name" data-toggle="modal" data-target="#eventModal">
                              Agregar Evento
                        </a>
                    </div>
                    <table id="tableEvents">
                        <tr>
                            <th>ID Evento</th>
                            <th>Link</th>
                            <th>Status</th>
                            <th>Opciones</th>
                        </tr>
                        <tr>
                            <td>011</td>
                            <td>
                                <button class="pd-setting">Active</button>
                            </td>
                            <td>
                                <p>example.com</p>
                            </td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>011</td>
                            <td>
                                <button class="pd-setting">Active</button>
                            </td>
                            <td>
                                <p>example.com</p>
                            </td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>011</td>
                            <td>
                                <button class="pd-setting">Active</button>
                            </td>
                            <td>
                                <p>example.com</p>
                            </td>
                            <td>
                                <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>
                        </tr>

                    </table>
                    <!-- <div class="custom-pagination">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let view = 'event_list';
</script>
@@include('../blocks/footer.html')
<script src="assets/javascript/event-list.js"></script>