@@include('../blocks/header.html')
<!-- Mobile Menu end -->
<div class="breadcome-area mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="fas fa-columns"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <br>
                                    <h2>IoT Dashboard</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="forms"></div>
<div class="section-admin container-fluid">
    <div class="row admin">
        <div class="col-md-12">
            <div class="row" id="platformCard">
            </div>
        </div>
    </div>
</div>
<div class="section-admin container-fluid">
    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <button type="button" class="btn botonEvento btn-lg btn-block change-name" id="change-name" onClick="newPlatform('Crear Plataforma','','',this)">
                            Agregar Plataforma
                    </button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn botonEvento btn-lg btn-block change-name" id="change-name" data-toggle="modal" data-target="#eventModal">
                            Agregar Evento
                    </button>
        </div>
    </div>
</div>


<br>
<br>
<script>
    let view = 'index';
</script>
<script src="assets/javascript/platform-list.js"></script>
@@include('../blocks/modals/platform.html') @@include('../blocks/modals/event.html') @@include('../blocks/footer.html')